.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.input-text {
  /* Estilos para o input */
  padding: 10px;
  width: 40%;
  text-align: center;
  border: 2px solid #1b98e0;
  border-radius: 40px;
  outline: none;
  margin-top: 10px;
}

/* Estilos para o ícone */
.search-icon {
  font-size: 2.4em;
  color: #1b98e0;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .input-text {
    width: 90%;
    margin-top: 5px; 
    margin-bottom: 10px;
  }
}
