
/* Estilo Geral do Formulário */
.form-container {
    padding: 20px;
    border: 1px solid #1b98e0;
    border-radius: 8px;
    margin-top: 20px;
  }
  

  
  /* Estilo dos Inputs */
  .form-group {
    margin-bottom: 15px;
  }
  

  .form-control {
    padding: 10px;
    border-bottom: 2px solid #1b98e0;
    outline: none;
    margin-top: 10px;
  
  }
  
  .btn-atualizar{
    text-transform: capitalize;
    display: flex;
    margin: 0 auto;
  }
  
 

  
